<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Dhakad Matrimony</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="profile-img">
    <img src="assets/images/photo2.png" />
        <div>
          <h5>Rashmi Patel</h5>
          <p>29 years, 5'2"</p>
        </div>
  </div>

  <div class="about">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. 
  </div>

  <div class="actions">
    <ion-row>
      <ion-col><img src="assets/icon/request.png" /><p>Send Request</p></ion-col>
      <ion-col><img src="assets/icon/heart.png" /><p>Add Wishlist</p></ion-col>
      <ion-col><img src="assets/icon/call.png" /><p>Call Now</p></ion-col>
      <ion-col><img src="assets/icon/message.png" /><p>Message</p></ion-col>
    </ion-row>
  </div>

  <ion-grid class="top-menu">
    <ion-row>
      <ion-col size="3"><ion-button color="danger" expand="block"  >Personal Details</ion-button></ion-col>
      <ion-col size="3"><ion-button color="primary" expand="block"  >Basic Details</ion-button></ion-col>
      <ion-col size="3"><ion-button color="primary" expand="block"  >Educational Details</ion-button></ion-col>
      <ion-col size="3"><ion-button color="primary" expand="block"  >Contact Details</ion-button></ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>  
    
      <ion-row class="heading">
        <ion-col size="1"><ion-icon name="person" color="secondary"></ion-icon></ion-col>
        <ion-col size="11"><p><span>About Rashmi</span></p></ion-col>
      </ion-row>

      <div class="content">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. 
      </div>

      <ion-row class="heading">
        <ion-col size="1"><ion-icon name="person" color="secondary"></ion-icon></ion-col>
        <ion-col size="11"><p><span>About Life Partner</span></p></ion-col>
      </ion-row>

      <div class="content">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. 
      </div>
  
  </ion-card>



</ion-content>
