<ion-content [fullscreen]="true">
  <div class="color-overlay">
    <div class="top-text">Sign in</div>

    <div class="logo">
      <img src="../../../assets/icon/logo.png">
    </div>
      <div id="login" class="ion-padding">
        <form [formGroup]="passwordForm">
          <ion-item lines="full">
            <ion-input type="password" placeholder="Enter Password" formControlName="password"></ion-input>
            <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.password">
                <div class="error-message" *ngIf="passwordForm.controls['password'].hasError(error.type) && (passwordForm.controls['password'].dirty || passwordForm.controls['password'].touched)">
                  {{ error.message }}
                </div>
              </ng-container>
            </div>
              </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="Confirm Password" formControlName="confirmpassword"></ion-input>
            <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.confirmpassword">
                <div class="error-message" *ngIf="passwordForm.controls['confirmpassword'].hasError(error.type) && (passwordForm.controls['confirmpassword'].dirty || passwordForm.controls['confirmpassword'].touched)">
                  {{ error.message }}
                </div>
              </ng-container>
              <div class="error-message" *ngIf="!passwordForm.controls['confirmpassword'].errors && passwordForm.hasError('passwordNotMatch') && (passwordForm.controls['confirmpassword'].dirty || passwordForm.controls['confirmpassword'].touched)">
                Password and Confirm Password fields should match
              </div>
            </div>
          </ion-item>
         
          <ion-button color="danger" expand="full"  [disabled]="!passwordForm.valid" shape="round" (click)="submit()">Submit</ion-button>
        </form>
        </div>
    
         </div>


</ion-content>
