.custom-icon{
    text-align:center;
    ion-icon{
        font-size: 35px;
    color: #eb445a;
    }
}

.not-found {
    text-align: center;
    padding: 10px;
    background-color: #1db7e5;
    color: white;
    border-radius: 3px;
    width: 200px;
    margin: 0 auto;
    position: relative;
    top: 200px;
}