<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="top-menu">
    <ion-row>
      <ion-col size="4">
        <ion-button expand="block" [ngClass]="btn1" (click)="select('accepted')">Accepted</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="block" [ngClass]="btn2" (click)="select('pending')">Pending</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="block" [ngClass]="btn3" (click)="select('sent')">Sent</ion-button>
      </ion-col>
      <!-- <ion-col size="3"><ion-button color="danger" expand="block"   (click)="login()">Shortlisted</ion-button></ion-col> -->
    </ion-row>
  </ion-grid>

  <ion-grid class="profiles">
    <div *ngIf="btn1 == 'selected'">
      <div *ngIf="acceptedRequest.length == 0" class="not-found"> No Request Found</div>
      <ion-row *ngFor="let profile of acceptedRequest">
        <ion-col size="5" class="image" (click)="viewProfile(profile?.ProfileId)" class="">
          <ng-container *ngIf="profile?.ProfileImg!= ''">
            <ion-img [src]="profileImgPath+profile?.ProfileImg" alt="" (ionError)="error_image(img)" #img
              (ionImgDidLoad)="profile.loadImage= true"> </ion-img>
          </ng-container>
          <ng-container *ngIf="profile?.ProfileImg== ''">
            <ng-container *ngIf="profile.gallery!= undefined">
              <ion-img [src]="profileImgPath+profile.gallery.image" alt="" (ionError)="error_image(img)" #img
              (ionImgDidLoad)="profile.loadImage= true"> </ion-img>
            </ng-container>
            <ng-container *ngIf="profile.gallery== undefined">
              <img src="assets/images/photo1.png" />
            </ng-container>
          </ng-container>
          <img src="assets/images/loading.gif" alt="" [hidden]="profile?.loadImage == true" loading="lazy" />
          <p>View Profile</p>
        </ion-col>
        <ion-col size="7" class="detail-col min-height-150">
          <div class="details">
            <h4>{{profile?.PName}}</h4>
            <p>{{profile?.age}} Year, {{profile?.Height}}cm Height <br>Address : {{profile?.Address}} </p>
            <p>Registration Date : <span *ngIf="profile.reg_date!= '' && profile.reg_date!= undefined"> {{profile?.reg_date.split('
                ')[0]}} </span></p>
          </div>

          <div class="actions">
            <ion-row>
              <ion-col (click)="goToCall(profile?.Contact)"><img src="assets/icon/call.png" />
                <p>Call Now</p>
              </ion-col>
              <ion-col (click)="goToChat(profile?.Virtual_id,profile?.DeviceGcm)"><img src="assets/icon/message.png" />
                <p>Message</p>
              </ion-col>
            </ion-row>
          </div>

        </ion-col>
      </ion-row>
    </div>


    <div *ngIf="btn2 == 'selected'">
      <div *ngIf="pendingRequest.length == 0" class="not-found"> No Request Found</div>
      <ion-row *ngFor="let profile of pendingRequest">
        <ion-col size="5" class="image" (click)="viewProfile(profile?.ProfileId)">
          <ng-container *ngIf="profile?.ProfileImg!= ''">
            <ion-img [src]="profileImgPath+profile?.ProfileImg" alt="" (ionError)="error_image(img)" #img
              (ionImgDidLoad)="profile.loadImage= true"> </ion-img>
          </ng-container>
          <ng-container *ngIf="profile?.ProfileImg== ''">
            <ng-container *ngIf="profile.gallery!= undefined">
              <ion-img [src]="profileImgPath+profile.gallery.image" alt="" (ionError)="error_image(img)" #img
              (ionImgDidLoad)="profile.loadImage= true"> </ion-img>
            </ng-container>
            <ng-container *ngIf="profile.gallery== undefined">
              <img src="assets/images/photo1.png" />
            </ng-container>
          </ng-container>
          <img src="assets/images/loading.gif" alt="" [hidden]="profile?.loadImage == true" loading="lazy" />
          <p>View Profile</p>
        </ion-col>
        <ion-col size="7" class="detail-col min-height-150">
          <div class="details">
            <h4>{{profile?.PName}}</h4>
            <p>{{profile?.age}} Year, {{profile?.Height}}cm Height <br>Address : {{profile?.Address}} </p>
            <p>Registration Date : <span *ngIf="profile.reg_date!= '' && profile.reg_date!= undefined"> {{profile?.reg_date.split('
                ')[0]}} </span></p>
          </div>

          <div class="actions">
            <ion-row>

              <ion-col (click)="action(profile?.ProfileId,'accept')"><img src="assets/icon/request.png" />
                <p>Approve</p>
              </ion-col>
              <!--logic for both sent and recieve req to be shown in Pending tab*ngIf="profile?.Active == 'true'" -->
              <ion-col (click)="action(profile?.ProfileId,'block')"><img src="assets/icon/heart.png" />
                <p>Reject</p>
              </ion-col>
              <!--(click)="shortlist(profile?.ProfileId,'block')"-->
              <ion-col (click)="goToCall(profile?.Contact)"><img src="assets/icon/call.png" />
                <p>Call Now</p>
              </ion-col>
              <ion-col (click)="goToChat(profile?.Virtual_id,profile?.DeviceGcm)"><img src="assets/icon/message.png" />
                <p>Message</p>
              </ion-col>
            </ion-row>
          </div>

        </ion-col>
      </ion-row>
    </div>


    <div *ngIf="btn3 == 'selected'">
      <div *ngIf="sentRequest.length == 0" class="not-found"> No Request Found</div>
      <ion-row *ngFor="let profile of sentRequest">
        <ion-col size="5" class="image" (click)="viewProfile(profile?.ProfileId)">
          <ng-container *ngIf="profile?.ProfileImg!= ''">
            <ion-img [src]="profileImgPath+profile?.ProfileImg" alt="" (ionError)="error_image(img)" #img
              (ionImgDidLoad)="profile.loadImage= true"> </ion-img>
          </ng-container>
          <ng-container *ngIf="profile?.ProfileImg== ''">
            <ng-container *ngIf="profile.gallery!= undefined">
              <ion-img [src]="profileImgPath+profile.gallery.image" alt="" (ionError)="error_image(img)" #img
              (ionImgDidLoad)="profile.loadImage= true"> </ion-img>
            </ng-container>
            <ng-container *ngIf="profile.gallery== undefined">
              <img src="assets/images/photo1.png" />
            </ng-container>
          </ng-container>
          <img src="assets/images/loading.gif" alt="" [hidden]="profile?.loadImage == true" loading="lazy" />
          <p>View Profile</p>
        </ion-col>
        <ion-col size="7" class="detail-col min-height-150">
          <div class="details">
            <h4>{{profile?.PName}}</h4>
            <p>{{profile?.age}} Year, {{profile?.Height}}cm Height <br>Address : {{profile?.Address}} </p>
            <p>Registration Date : <span *ngIf="profile.reg_date!= '' && profile.reg_date!= undefined"> {{profile?.reg_date.split('
                ')[0]}} </span></p>
          </div>

          <div class="actions">
            <ion-row>
              <ion-col (click)="goToCall(profile?.Contact)"><img src="assets/icon/call.png" />
                <p>Call Now</p>
              </ion-col>
              <ion-col (click)="goToChat(profile?.Virtual_id,profile?.DeviceGcm)"><img src="assets/icon/message.png" />
                <p>Message</p>
              </ion-col>
            </ion-row>
          </div>

        </ion-col>
      </ion-row>
    </div>

  </ion-grid>

<!-- 

  <ion-infinite-scroll threshold="100px" (ionInfinite)="callApi()">
    <ion-infinite-scroll-content loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content> -->