ion-slide img{ min-width:490px;}
.custom-slide{    position: relative;
    margin: 10px;}
.custom-btn{    z-index: 2;
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 20px;
    background-color: transparent;}