<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="profileForm">

  <div class="profile-img">
    
    <!-- <img src="assets/images/photo2.png" (click)="captureImage()"/> -->
    <!-- <img [src]="profileImage" alt=""  class="camera-img"  *ngIf="!cam"/> -->
    
      <img [src]="domSanitizer.bypassSecurityTrustUrl(profileImage)" (click)="updateProfileImage()" alt=""  class="camera-img" *ngIf="cam"/>
      <div class="edit">
        <ion-icon name="create-sharp" color="danger" (click)="updateProfileImage()"></ion-icon>
      </div>
        <div class="profile-data">
          <h5>{{myProfile?.PName}}</h5>
          <p>{{myProfile?.age}} Year, {{myProfile?.Height}}</p>
          
        </div>
  </div>

  <div class="about" >{{myProfile?.aboutme_converted}} </div>

  <div class="save">
    <ion-button color="danger" (click)="update()">Update</ion-button>
  </div>

  

  <ion-grid class="top-menu">
    <ion-row class="scroll-tabs">
      <ion-col size="3"><ion-button  expand="block"   [ngClass]="btn1" (click)="select('tab1')">Personal <br>Details</ion-button></ion-col>
      <ion-col size="3"><ion-button  expand="block"   [ngClass]="btn2" (click)="select('tab2')">Basic <br> Details</ion-button></ion-col>
      <ion-col size="3"><ion-button  expand="block"   [ngClass]="btn3" (click)="select('tab3')">Educational <br> Details</ion-button></ion-col>
      <ion-col size="3"><ion-button  expand="block"   [ngClass]="btn4" (click)="select('tab4')">Contact<br> Details</ion-button></ion-col>
      <ion-col size="3"><ion-button  expand="block"   [ngClass]="btn5" (click)="select('tab5')">Profile<br> Picture</ion-button></ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngIf="btn1 == 'selected'">  
    
      <ion-row class="heading">
        <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
        <ion-col size="11"><p><span>About Me</span></p></ion-col>
      </ion-row>

      <div class="content">
        
        <ion-select multiple="true" formControlName="AboutMe" [(ngModel)]="this.myProfile.AboutMe">
            <ion-select-option  *ngFor="let d of aboutMeOptions" value={{d.id}}>{{d.name}}</ion-select-option>
          </ion-select>
          <!-- <ion-textarea  value="" readonly="false" autoGrow="true" formControlName="AboutMe" [(ngModel)]="this.myProfile.AboutMe"></ion-textarea>  -->
      </div>

      <ion-row class="heading">
        <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
        <ion-col size="11"><p><span>About Life Partner</span></p></ion-col>
      </ion-row>

      <div class="content">
        <ion-select multiple="true" formControlName="aboutLifePartner" [(ngModel)]="this.myProfile.aboutLifePartner">
          <ion-select-option *ngFor="let d of aboutMeOptions" value={{d.id}}>{{d.name}}</ion-select-option>
          
        </ion-select>
        <!-- <ion-textarea value="" readonly="false" autoGrow="true" formControlName="aboutLifePartner" [(ngModel)]="this.myProfile.aboutLifePartner"></ion-textarea>   -->
      </div>

      <ion-row class="heading">
        <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
        <ion-col size="11"><p><span>Preference</span></p></ion-col>
      </ion-row>

      <div class="content">
        
        <ion-select  formControlName="preferences" [(ngModel)]="this.myProfile.preferences">
          <ion-select-option *ngFor="let d of prefrence" value={{d}}>{{d}}</ion-select-option>
        </ion-select>
        <!-- <ion-textarea value="" readonly="false" autoGrow="true" formControlName="preferences" [(ngModel)]="this.myProfile.preferences"></ion-textarea>  -->
      </div>
  
  </ion-card>

  <ion-card *ngIf="btn2 == 'selected'" class="details"> 

    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Member id</span></p></ion-col>
      <ion-col size="7"><ion-input type="text" readonly class="line-rev" value="" formControlName="Virtual_id" [(ngModel)]="this.myProfile.Virtual_id"></ion-input></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Profile for</span></p></ion-col>
      <ion-col size="7">
        <ion-select placeholder="" formControlName="Profile_for" [(ngModel)]="this.myProfile.Profile_for">
          <ion-select-option *ngFor="let d of profile_for" value={{d}}>{{d}}</ion-select-option>
         </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Gender</span></p></ion-col>
      <ion-col size="7"> <ion-input type="text" readonly class="line-rev" value="" formControlName="Gender" [(ngModel)]="this.myProfile.Gender"></ion-input>
        
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>DOB</span></p></ion-col>
      <ion-col size="7"><ion-input type="text" value="" class="line-rev" readonly formControlName="DOB" [(ngModel)]="this.myProfile.DOB"></ion-input></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Birth Time</span></p></ion-col>
      <ion-col size="7">
        <!-- <ion-input type="time" value="" class="line-rev" readonly formControlName="birthTime" [(ngModel)]="this.myProfile.birthTime"></ion-input> -->
        <ion-datetime style="border-bottom: 1px solid #eae6e6;" formControlName="birthTime" [(ngModel)]="this.myProfile.dob_time" displayFormat="h:mm A"  pickerFormat="h:mm A"></ion-datetime>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Age</span></p></ion-col>
      <ion-col size="7"><ion-input type="text" value="" class="line-rev" readonly formControlName="age" [(ngModel)]="this.myProfile.age"></ion-input></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Height</span></p></ion-col>
      <ion-col size="7">
        <ion-select placeholder="" formControlName="Height" [(ngModel)]="this.myProfile.Height">
              <ion-select-option *ngFor="let d of height" value={{d.height_cm}}>{{d.height_name}}</ion-select-option>
              
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Skin tone</span></p></ion-col>
      <ion-col size="7">
        <ion-select placeholder="" formControlName="Skin" [(ngModel)]="this.myProfile.Skin">
          <ion-select-option *ngFor="let d of skinTone" value={{d}}>{{d}}</ion-select-option>
          
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Body tone</span></p></ion-col>
      <ion-col size="7">
        <ion-select placeholder="" formControlName="Body" [(ngModel)]="this.myProfile.Body">
          <ion-select-option *ngFor="let d of body_type" value={{d}}>{{d}}</ion-select-option>
         
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Mangalik</span></p></ion-col>
      <ion-col size="7">
        <ion-select placeholder="" formControlName="Manglik" [(ngModel)]="this.myProfile.Manglik">
          <ion-select-option >Yes</ion-select-option>
          <ion-select-option >No</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Caste</span></p></ion-col>
      <ion-col size="7">
        <ion-select placeholder="" formControlName="Caste" [(ngModel)]="this.myProfile.Caste"  >
          <ion-select-option *ngFor="let cs of caste" [value]="cs">{{cs}}</ion-select-option>
         
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Gotra</span></p></ion-col>
      <ion-col size="7"><ion-input type="text" value="" formControlName="MTongue" [(ngModel)]="this.myProfile.MTongue"></ion-input></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Hobbies</span></p></ion-col>
      <ion-col size="7">
        <ion-select multiple="true" name="hobbies" id="hobbies" formControlName="Hobbies" [(ngModel)]="this.myProfile.hobbies"   >
          <ng-container *ngFor="let d of hobbiesoptions">
            
            <ion-select-option [value]="d.id" > {{d.name}}</ion-select-option>
          </ng-container>
          
        </ion-select>
       
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Mother subcast</span></p></ion-col>
      <ion-col size="7"><ion-input type="text" value="" formControlName="SubCaste" [(ngModel)]="this.myProfile.SubCaste"></ion-input></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Martial Status</span></p></ion-col>
      <ion-col size="7">
        <ion-select placeholder="" formControlName="Marrital" [(ngModel)]="this.myProfile.Marrital">
          <ion-select-option *ngFor="let d of maritial_status" value={{d}}>{{d}}</ion-select-option>
          
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Physical disability</span></p></ion-col>
      <ion-col size="7">
        <ion-select placeholder="" formControlName="Disability" [(ngModel)]="this.myProfile.Disability">
          <ion-select-option >Yes</ion-select-option>
          <ion-select-option >No</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Drink</span></p></ion-col>
      <ion-col size="7">
        <ion-select placeholder="" formControlName="Drink" [(ngModel)]="this.myProfile.Drink">
          <ion-select-option >Yes</ion-select-option>
          <ion-select-option >No</ion-select-option>
          <!-- <ion-select-option >Occassional</ion-select-option> -->
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Smoke</span></p></ion-col>
      <ion-col size="7">
        <ion-select placeholder="" formControlName="Smoke" [(ngModel)]="this.myProfile.Smoke">
          <ion-select-option >Yes</ion-select-option>
          <ion-select-option >No</ion-select-option>
          <!-- <ion-select-option >Occassional</ion-select-option> -->
        </ion-select>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>City</span></p></ion-col>
      <ion-col size="7"><ion-input type="text" value="" formControlName="City" [(ngModel)]="this.myProfile.City"></ion-input></ion-col>
    </ion-row> -->
   

  </ion-card>


  <ion-card *ngIf="btn3 == 'selected'" class="details"> 

    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Educational Level</span></p></ion-col>
      <ion-col size="7">
        <ion-select placeholder="" formControlName="Elevel" [(ngModel)]="this.myProfile.Elevel">
          <ion-select-option *ngFor="let d of education_level" value={{d}}>{{d}}</ion-select-option>
          
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Education Field</span></p></ion-col>
      <ion-col size="7">
        <ion-select placeholder="" formControlName="Efield" [(ngModel)]="this.myProfile.Efield">
          <ion-select-option *ngFor="let d of education_Field" value={{d}}>{{d}}</ion-select-option>
          
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Occupation</span></p></ion-col>
      <ion-col size="7">
        <!-- <ion-input type="text" value="" formControlName="Work" [(ngModel)]="this.myProfile.Work"></ion-input> -->
        <ion-select placeholder="" formControlName="Work" [(ngModel)]="this.myProfile.Work">
          <ion-select-option *ngFor="let d of occupation" value={{d}}>{{d}}</ion-select-option>
          </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Occupation details</span></p></ion-col>
      <ion-col size="7">
        <!-- <ion-input type="text" value="" formControlName="WorkAs" [(ngModel)]="this.myProfile.WorkAs"></ion-input>  -->
         <ion-select placeholder="" formControlName="WorkAs" [(ngModel)]="this.myProfile.WorkAs">
          <ion-select-option *ngFor="let d of OccupationDetails" value={{d}}>{{d}}</ion-select-option>
          </ion-select> 
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Income</span></p></ion-col>
      <ion-col size="7">
        <ion-select placeholder="" formControlName="Income" [(ngModel)]="this.myProfile.Income">
          <ion-select-option *ngFor="let d of annualIncome" value={{d}}>{{d}}</ion-select-option>
          
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card *ngIf="btn4 == 'selected'" class="details"> 

    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Address</span></p></ion-col>
      <!-- <ion-col size="7"><ion-input type="text" value="" formControlName="villageCity" [(ngModel)]="this.myProfile.villageCity"></ion-input></ion-col> -->
      <ion-col size="7"><ion-textarea class="paddingTopBtm0" value="" formControlName="villageCity" [(ngModel)]="this.myProfile.Address"></ion-textarea></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Country</span></p></ion-col>
      <ion-col size="7">
      <ion-select  formControlName="Country" [(ngModel)]="this.myProfile.Work_Country">
      <ion-select-option value="101">India</ion-select-option>
        <!-- <ion-select-option *ngFor="let data of cityData" value={{data.id}}>{{data.city_name}}</ion-select-option> -->
      </ion-select>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>State</span></p></ion-col>
      <ion-col size="7">
      <ion-select  formControlName="State" [(ngModel)]="this.myProfile.State" (ionChange)="getCity($event.target.value)">
       <ion-select-option *ngFor="let data of stateData" value={{data.id}}>{{data.name}}</ion-select-option>
        </ion-select>
      </ion-col> 
     </ion-row>
    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>City</span></p></ion-col>
      <ion-col size="7">
      <ion-select  formControlName="City" [(ngModel)]="this.myProfile.City">
        <ion-select-option *ngFor="let data of cityData" value={{data.id}}>{{data.city_name}}</ion-select-option>
      </ion-select>
      </ion-col>
    </ion-row>
   
    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Pincode</span></p></ion-col>
      <ion-col size="7">
      <ion-input type="number" maxlength="6" onKeyPress="if(this.value.length==6) return false;" formControlName="Pincode" [(ngModel)]="this.myProfile.Pincode"></ion-input>
    </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Father name</span></p></ion-col>
      <ion-col size="7"><ion-input type="text" value="" formControlName="Father" [(ngModel)]="this.myProfile.Father"></ion-input></ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Father occupation</span></p></ion-col>
      <ion-col size="7">
        <!-- <ion-input type="text" value="" formControlName="Fstatus" [(ngModel)]="this.myProfile.Fstatus">      </ion-input> -->
           <ion-select placeholder="" formControlName="Fstatus" [(ngModel)]="this.myProfile.Fstatus">
                  <ion-select-option *ngFor="let d of fatherOccupation" value={{d}}>{{d}}</ion-select-option>
             </ion-select>
         
  </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Mother occupation</span></p></ion-col>
      <ion-col size="7">
        <!-- <ion-input type="text" value="" formControlName="Mstatus" [(ngModel)]="this.myProfile.Mstatus"></ion-input> -->
        <ion-select placeholder="" formControlName="Mstatus" [(ngModel)]="this.myProfile.Mstatus">
          <ion-select-option *ngFor="let d of motherOccupation" value={{d}}>{{d}}</ion-select-option>
     </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>No of brother</span></p></ion-col>
      <ion-col size="7">
        <ion-select placeholder="" formControlName="Brother" [(ngModel)]="this.myProfile.Brother">
          <ion-select-option >0</ion-select-option>
          <ion-select-option >1</ion-select-option>
          <ion-select-option >2</ion-select-option>
          <ion-select-option >3</ion-select-option>
          <ion-select-option >4</ion-select-option>
          <ion-select-option >5</ion-select-option>
          <ion-select-option >6</ion-select-option>
          <ion-select-option >7</ion-select-option>
          <ion-select-option >8</ion-select-option>
          <ion-select-option >9</ion-select-option>
     </ion-select>
        <!-- <ion-input type="text" value="" formControlName="Brother" [(ngModel)]="this.myProfile.Brother"></ion-input> -->
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>No of sister</span></p></ion-col>
      <ion-col size="7">
        <!-- <ion-input type="text" value="DM70388" formControlName="Sister" [(ngModel)]="this.myProfile.Sister"></ion-input> -->
        <ion-select placeholder="" formControlName="Sister" [(ngModel)]="this.myProfile.Sister">
          <ion-select-option >0</ion-select-option>
          <ion-select-option >1</ion-select-option>
          <ion-select-option >2</ion-select-option>
          <ion-select-option >3</ion-select-option>
          <ion-select-option >4</ion-select-option>
          <ion-select-option >5</ion-select-option>
          <ion-select-option >6</ion-select-option>
          <ion-select-option >7</ion-select-option>
          <ion-select-option >8</ion-select-option>
          <ion-select-option >9</ion-select-option>
     </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="1"><img src="assets/icon/request.png"></ion-col>
      <ion-col size="4"><p><span>Father Contact</span></p></ion-col>
      <ion-col size="7"><ion-input type="tel" value="" formControlName="FatherContact" [(ngModel)]="this.myProfile.FatherContact" maxlength="10"></ion-input></ion-col>
    </ion-row>
    <div class="error-messages">
      <ng-container *ngFor="let error of error_messages.FatherContacts">
        <div class="error-message" *ngIf="profileForm.controls['FatherContact'].hasError(error.type) && (profileForm.controls['FatherContact'].dirty || profileForm.controls['FatherContact'].touched)">
          {{ error.message }}
        </div>
      </ng-container>
    </div>
  </ion-card>
  <div *ngIf="btn5 == 'selected'" >
    <app-gallery></app-gallery>
  </div>

</form>
</ion-content>
