.custm-img{
    text-align: center;
    position: relative;
    img{
        width: 160px;
        height: 160px;
        border-radius: 50%;
        border: 3px solid #f10558;
    }
    ion-icon{
        position: absolute;
        top: 28px;
        left: 250px;
    
    }
}

.custom-grid{
    padding: 10px;
    label{
        font-size: 16px;
    color: #706e6e;
    }
    ion-select,ion-input,textarea{
    border: 1px solid #8b8888;
    margin-top: 10px;
    padding: 10px;
   
    }
    textarea{
        width:100%;
    }

}